html {
  display: flex;
  background: url(https://photos.smugmug.com/SanJose/i-8GCvXwN/1/XL/Cloudy%20Sunset%20Over%20San%20Jose-XL.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html:focus {
    outline:none;
}
body {
  margin: auto;
  max-width: 70%;
}
.name,.intro,.ama,.job-title,.location {
  text-align: center;
  color: white;
}
.name {
  margin-bottom: 10px;
  margin-top: 0px;
  color: #d4fd02;
}
.top-intro{
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;

}
.headings {
  align-self: center;
  margin: auto;
  padding-top: 300px;
  padding-bottom: 300px;
}
.intro {
  margin-bottom: 10px;
}
}
.location {
  font-size: 14px
}
.job-title,.name,.aboutme-title {
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  font-style:oblique;
}
.aboutme-title {
  color: #d4fd02;
}
span {
  color: #d4fd02;
}
.intro,.ama,.location{
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
}
.ama {
  margin-top: 10px;
  margin-bottom: 10px
}
.job-title {
  margin-top: 10px;
  color: yellow;
}
a.fa {
  text-decoration: none
}

a:link {
  text-decoration: none !important;
  outline: 0;
}

.fa-stack {
  margin: -2px;
}
.social-links {
  list-style: none;
  display: block;
  text-align: center;
}

.highlight {
  opacity: 0.6;
  display: inline-block;
}

.highlight:hover {
  opacity: 1;
}
#social-footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

#social-footer .social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#social-footer .social-links,.highlight {
  display: inline;
  padding: 0.4em;
}
i.fa.fa-github-3x.fa-3x {
  vertical-align: middle;
}
#social-footer a {
  color: white !important;
}
#down {
  text-align: center;
  opacity: 0.40;
  cursor: pointer;
}
.about-me-framework{
  background-color: black;
  opacity: 0.85;
  color: white;

}
.project-container {
background-color: black;
margin-top: 100px;
opacity: 0.9;
color: white;
display: flex;
flex-direction: column;
}
.about {
  font-size: 34px;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  padding-right: 60px;
  padding-left: 60px;
}
.aboutme-container {
  text-align: center;
}
.item {
  display: inline-block;
}
.skills-title {
  text-align: center;
}
.project-item {
  display: block;
  width: 90%;
  margin-top: 80px;
  margin-left: 70px;
}
.project-screenshot {
  opacity: 1;
}
.definitions {
  padding-left:0;
  text-align: center;
}
.aboutme-title {
  padding-top: 300px;
}
.page-nav {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
}
.project-tech {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  width: 70%;

}
.span-nav {
  color: white;
  font-size: 30px;
}
.page-nav2 {
  padding-top: 100px;
}
.nav-link {color: white;}
.nav-link:hover {color: #d4fd02;}
.project-image{
  display: inline-block;
  margin-right: 80px;
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.project-image:hover .image {
  opacity: 0.3;
}

.project-image:hover .middle{
  opacity: 1;
}
.project-image:hover .middle2{
  opacity: 1;
}
.project-image:hover .middle3{
  opacity: 1;
}

.text {
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  padding: 16px 32px;
}

.proj-detail-right {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
}
.project-title-text {
  font-family: 'Inconsolata', monospace;
  font-size: 35px;
  color: #d4fd02;
  display: inline-block;
  padding-right: 20px;
  vertical-align: super;
  margin-bottom: 0;

}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.about2 {
  padding-bottom: 400px;
  font-size: 34px;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  padding-right: 60px;
  padding-left: 60px;
}
